<nav class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="/">Cluster visualization</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li>
        <a href="{{ url_for('render_3d') }}">3D</a>
      </li>
    </ul>
  </div>
</nav>